@import "tailwindcss";

@theme {
  --breakpoint-xs: 505px;
  --breakpoint-2xl: 1280px;
}

@layer base {
  ::selection {
    color: #727272;
    text-decoration-line: underline;
    text-decoration-thickness: 1px;
    text-decoration-color: #53db78;
    text-underline-offset: 4px;
  }
}

@layer utilities {
  .textarea-scroll::-webkit-scrollbar {
    width: 6px;
  }

  .textarea-scroll::-webkit-scrollbar-track {
    background: #000d01;
    border-radius: 10px;
  }

  .textarea-scroll::-webkit-scrollbar-thumb {
    background: #53db77cb;
    border-radius: 10px;
  }

  .textarea-scroll::-webkit-scrollbar-thumb:hover {
    background: #45c96a;
  }
}
